@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: radial-gradient(
    134.34% 134.34% at 50% 0%,
    #1f3757 0%,
    #131537 100%
  );
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 83px;
  height: 48px;
}

.top {
  width: 83%;
  max-width: 700px;
  height: 96px;
  border: 3px solid rgba(255, 255, 255, 0.289199);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 12px 23px;
  margin-bottom: 105px;
  margin-top: 50px;
}
.scoreRect {
  width: 25.7%;
  max-width: 150px;
  height: 72px;
  background: linear-gradient(0deg, #f3f3f3 0%, #ffffff 100%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.scoreRect span {
  color: #2a45c2;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.5625px;
  padding-top: 10px;
}
.scoreRect p {
  font-weight: 700;
  font-size: 40px;
  color: #565468;
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 70px;
  background-image: url(./images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.choice {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
}

.game-btn {
  border-radius: 50%;
}
.paper {
  border: 15px solid #4664f4;
}

.scissors {
  border: 15px solid #eb9f0e;
}

.rock {
  border: 15px solid #db2e4d;
}
.rules {
  border: 1px solid #ffffff;
  background: transparent;
  color: white;
  border-radius: 8px;
  width: 128px;
  height: 40px;
  text-align: center;
  position: fixed;
  bottom: 15px;
}
.choice {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.game-btn1 {
  position: relative;
  left: 70px;
}
.transparentCircle {
  width: 110px;
  height: 110px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.result {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: none;
}
.resultChoices {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 58px;
}
.your-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ai-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.resultChoices p {
  color: white;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 1.875px;
  margin-top: 17px;
}
.winnerText {
  margin-top: 62px;
  font-weight: 700;
  font-size: 56px;
  color: white;
  margin-bottom: 16px;
}
.again {
  display: none;
  width: 220px;
  height: 48px;
  border-radius: 8px;
  border: none;
  color: #3b4262;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.5px;
}

/* modal styles */
.modal__container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  border-radius: 8px;
}
.modal h2 {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  color: #3b4262;
  margin-top: 95px;
  margin-bottom: 113px;
}

.modal button {
  border: none;
  background: transparent;
  margin-top: 150px;
}
.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.rules-img {
  width: 305px;
  height: 271px;
}
.youPick {
  text-align: center;
}
.aiPick {
  margin-top: 25px;
}

/* responsive design */
@media screen and (min-width: 540px) {
  .top {
    margin-bottom: 40px;
  }
  .logo {
    width: 159px;
    height: 96px;
  }
  .top {
    height: 150px;
  }
  .scoreRect {
    height: 114px;
  }
  .scoreRect span {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.5px;
  }
  .scoreRect p {
    font-size: 64px;
  }

  .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 415px;
  }

  .modal__container {
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .modal h2 {
    margin: 0;
    position: fixed;
    top: 32px;
    left: 32px;
  }
  .modal button {
    margin: 0;
    position: fixed;
    top: 44px;
    right: 32px;
  }
  .rules-img {
    position: fixed;
    top: 112px;
    right: 50px;
  }
  /* here starts result div styling */
  .result {
    width: 940px;
  }
  .resultChoices {
    width: 940px;
    display: flex;
    justify-content: space-between;
  }
  .game-btn {
    border-radius: 50%;
    width: 198px;
    height: 198px;
  }
  .choice {
    width: 198px;
    height: 198px;
  }
  .paper img {
    width: 67px;
    height: 80px;
  }
  .scissors img {
    width: 54px;
    height: 80px;
  }
  .rock img {
    width: 64px;
    height: 64px;
  }
  .paper {
    border: 23px solid #4664f4;
  }

  .scissors {
    border: 23px solid #eb9f0e;
  }

  .rock {
    border: 23px solid #db2e4d;
  }
  .game {
    position: relative;
    width: 531px;
    height: 531px;
    margin: 0 auto;
  }

  .game-btn {
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .choice {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item-1 {
    top: 25%;
    left: 25%;
  }

  .item-2 {
    top: 25%;
    left: 75%;
  }

  .item-3 {
    top: 65%;
    left: 50%;
  }
  /* rules sticked to the right bottom corner */
  .rules {
    position: fixed;
    right: 32px;
    bottom: 32px;
  }

  /* positioning result div */

  .resultChoices {
    position: relative;
    width: 657px;
    height: 400px;
    margin: 0 auto;
  }
  #createdYourChoice {
    top: 90%;
    left: 20%;
  }
  .youPick {
    position: absolute;
    top: 10%;
    left: 12%;
  }

  .aiPick {
    margin-bottom: 25px;
  }
  .ai-choice {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 196px;
    width: 196px;
    position: absolute;
    top: 47%;
    left: 65%;
  }
  .resultChoices p:nth-of-type(2) {
    margin-bottom: 15px;
  }
  .transparentCircle {
    display: none;
  }
  #theHouseParagraph {
    position: fixed;
    top: 34.3%;
    right: 30%;
  }
}
